{% extends "dash_base.html" %}

{% block title %}Calendar{%endblock%}
   
{% block sidebar %}

    <ul class="nav nav-sidebar">
        <li><a href="/dash">Overview</a></li>
    </ul>
    
    <ul class="nav nav-sidebar">
        <li class="active"><a href="/calendar">Calendar</a></li>
        <li><a href="/docs">Document Manager</a></li>
    </ul>
    
{% endblock %}

{% block header %}Calendar{% endblock %}

{% block html_head %}
    {{ super() }}
    <link href="/static/css/responsive-calendar.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-datetimepicker.css" rel="stylesheet" media="screen">
{% endblock %}

{% block body %}

    <!-- Shortcuts -->
    <div class="row placeholders">
        {% if auth %}
            <div class="col-xs-6 col-sm-3 placeholder">
                <a href="" data-title="new" data-toggle="modal" data-target="#new" data-placement="top" rel="tooltip">
                    <span class="glyphicon glyphicon-plus"></span>
                    <h4>Add Event</h4>
                </a>
            </div>
        {% endif %}
        
        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="" data-title="settings" data-toggle="modal" data-target="#settings" data-placement="top" rel="tooltip">
                <span class="glyphicon glyphicon-list"></span>
                <h4>Settings</h4>
            </a>
        </div>
    </div>
    
    <!-- Calendar by w3widgets -->    
   <div class="responsive-calendar">
        <div class="controls">
            <a class="pull-left" data-go="prev">
                <div class="btn btn-primary">Prev</div>
            </a>
        
            <h4>
                <span data-head-year></span>
                <span data-head-month></span>
            </h4>
        
            <a class="pull-right" data-go="next">
                <div class="btn btn-primary">Next</div>
            </a>
        </div>
        
        <hr />
        
        <div class="day-headers">
            <div class="day header">Mon</div>
            <div class="day header">Tue</div>
            <div class="day header">Wed</div>
            <div class="day header">Thu</div>
            <div class="day header">Fri</div>
            <div class="day header">Sat</div>
            <div class="day header">Sun</div>
        </div>
        
        <div class="days" data-group="days"> </div>
    </div>

    <!-- New Event Dialog -->
    <div class="modal fade" id="new" tabindex="-1" role="dialog" aria-labelledby="new" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title custom_align" id="Heading">New Event</h4>
                </div>
                
                <div class="modal-body">
                    <div class="form-group">
                        <input class="form-control" name="summary" id="modal-summary-new" type="text" placeholder="Summary">
                    </div>
                    
                    <div class="form-group">
                        <input class="form-control" name="location" id="modal-location-new" type="text" placeholder="Location">
                    </div>
                    
                    <div class="form-group">
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker1' data-date-format='YYYY-MM-DD HH:mm'>
                                <input type='text' name="datetime" class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <textarea rows="5" class="form-control" name="description" id="modal-description-new" placeholder="Description"></textarea>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <div class="modal-footer">
                        <form action="/calendar/add">
                            <button type="submit" class="btn btn-success btn-lg" style="width: 100%;">
                                <span class="glyphicon glyphicon-ok"></span> Confirm
                            </button>
                        </form>
                </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Event List Dialog -->
    <div class="modal fade" id="list" tabindex="-1" role="dialog" aria-labelledby="list" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title custom_align event-list" id="Heading">Date</h4>
                </div>
                
                <div class="modal-body">
                    <p id="modal-event-list">No events!</p>
                </div>
                
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success btn-lg modal-new-button" style="width: 100%;" id="modal-new-button"
                     data-title="new" data-toggle="modal" data-target="#new" data-placement="top">
                        <span class="glyphicon glyphicon-pencil"></span> New Event
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Settings Dialog -->
    <div class="modal fade" id="settings" tabindex="-1" role="dialog" aria-labelledby="settings" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title custom_align" id="Heading">Settings</h4>
                </div>
                
                <div class="modal-footer">
                    {% if auth %}
                        <form action="/deauthorize">
                            <button type="submit" class="btn btn-default btn-lg" style="width: 100%;">
                                <span class="glyphicon glyphicon-remove"></span> Deauthorize
                            </button>
                        </form>
                    {% else %}
                        <form action="/authorize">
                            <button type="submit" class="btn btn-default btn-lg" style="width: 100%;">
                                <span class="glyphicon glyphicon-plus"></span> Authorize with Google
                            </button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
   
{% endblock %}

{% block scripts %}

    <!-- http://w3widgets.com/responsive-calendar/ -->
    <script src="/static/js/responsive-calendar.js"></script>
    
    <script type="text/javascript" src="/static/js/moment.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-datetimepicker.min.js"></script>

    
    <script>
        // Initialize the date picker.
        $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        
        // Load the calendar with an ajax request.
        function cal_fetch() {
            // $(loadingId).show();  // Add loading ani here.
            $.post('/calendar/fetch')
            .done(function(events) {
                $('.responsive-calendar').responsiveCalendar('edit', events);
            });
        }
    </script>
    
    <!-- This script block handles the List Dialog. -->
    <script>
        // Add leading zeros to calendar days and months.
        function addLeadingZero(num) {
            if (num < 10) { return "0" + num; }
            else { return "" + num; }
        }
        
        // Get today's date.
        var d = new Date();
        var days = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
        
        // Close the List Dialog when New Event is clicked and
        // populate the New Event Dialog.
        $("#modal-new-button").click(function () {
            $('#list').modal('hide');
        });
        
        // Open and populate the List Dialog when a Day is clicked.
        // Initialize and populate the calendar.
        $('.responsive-calendar').responsiveCalendar({           
            // Assign a callback to show the List Dialog.
            onDayClick: function(events) {
                $('#list').modal('show');
                
                // Get the event data for the relevant day.
                key = $(this).data('year')+'-'+addLeadingZero( $(this).data('month') )+'-'+addLeadingZero( $(this).data('day') );
                var dayEvents = events[key].events
                
                // Zip together dayEvents[0] and dayEvents[1] with
                // HTML formatting.
                var eventTable = []
                
                // This is not displaying multiple events properly;
                // that is, in one table. Fix with "DOM scripting"
                // when we know what that is.
                for (var i=0; i<dayEvents[0].length; i++) {
                    eventTable.push("<table class='table table-striped table-hover'>" +
                                        "<thead>" +
                                            "<tr>" +
                                                "<th>Time</th>" +
                                                "<th>Summary</th>" +
                                        "</thead>" +
                                        "<tbody>" +
                                            "<tr>" +
                                                "<td width='20%'>" + dayEvents[0][i] + "</td>" +
                                                "<td>" + dayEvents[1][i] + "</td>" +
                                            "</tr>" +
                                        "</tbody>" +
                                    "</table>");
                }
                
                $("h4.event-list").text(d.toDateString());
                $("#modal-event-list").html(eventTable);
            },
            
            // Set the month to be displayed to the current one.
            time: d.getFullYear() + '-' + (d.getMonth() + 1),
            
            // Only populate the calendar if a Google account has
            // been authorized.
            events: cal_fetch()
        });
    </script>
    
{% endblock %}  
