{% extends "dash_base.html" %}

{% block title %}Calendar{%endblock%}
   
{% block sidebar %}

    <ul class="nav nav-sidebar">
        <li><a href="/dash">Overview</a></li>
    </ul>
    
    <ul class="nav nav-sidebar">
        <li class="active"><a href="/calendar">Calendar</a></li>
        <li><a href="/docs">Document Manager</a></li>
    </ul>
    
{% endblock %}

{% block header %}Calendar{% endblock %}

{% block html_head %}
    {{ super() }}
    <link href="/static/css/responsive-calendar.css" rel="stylesheet" media="screen">
{% endblock %}

{% block body %}

    <!-- Shortcuts -->
    <div class="row placeholders">
        {% if auth %}
            <div class="col-xs-6 col-sm-3 placeholder">
                <a href="" data-title="new" data-toggle="modal" data-target="#new" data-placement="top" rel="tooltip">
                    <span class="glyphicon glyphicon-plus"></span>
                    <h4>Add Event</h4>
                </a>
            </div>
        {% endif %}
        
        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="" data-title="settings" data-toggle="modal" data-target="#settings" data-placement="top" rel="tooltip">
                <span class="glyphicon glyphicon-list"></span>
                <h4>Settings</h4>
            </a>
        </div>
    </div>
    
    <!-- Calendar by w3widgets -->    
   <div class="responsive-calendar">
        <div class="controls">
            <a class="pull-left" data-go="prev">
                <div class="btn btn-primary">Prev</div>
            </a>
        
            <h4>
                <span data-head-year></span>
                <span data-head-month></span>
            </h4>
        
            <a class="pull-right" data-go="next">
                <div class="btn btn-primary">Next</div>
            </a>
        </div>
        
        <hr />
        
        <div class="day-headers">
            <div class="day header">Mon</div>
            <div class="day header">Tue</div>
            <div class="day header">Wed</div>
            <div class="day header">Thu</div>
            <div class="day header">Fri</div>
            <div class="day header">Sat</div>
            <div class="day header">Sun</div>
        </div>
        
        <div class="days" data-group="days"> </div>
    </div>
    <!-- End calendar -->
    
    <!-- New Event Dialog -->
    <div class="modal fade" id="new" tabindex="-1" role="dialog" aria-labelledby="new" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title custom_align" id="Heading">New Event</h4>
                </div>
                
                <div class="modal-footer">
                    <div class="modal-footer">
                        <form action="/calendar/add">
                            <button type="submit" class="btn btn-success btn-lg" style="width: 100%;">
                                <span class="glyphicon glyphicon-remove"></span> Confirm
                            </button>
                        </form>
                </div>
                </div>
            </div>
        <!-- /.modal-content --> 
        </div>
    <!-- /.modal-dialog --> 
    </div>
    <!-- End New Event Dialog -->
    
    <!-- Settings Dialog -->
    <div class="modal fade" id="settings" tabindex="-1" role="dialog" aria-labelledby="settings" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title custom_align" id="Heading">Settings</h4>
                </div>
                
                <div class="modal-footer">
                    {% if auth %}
                        <form action="/deauthorize">
                            <button type="submit" class="btn btn-default btn-lg" style="width: 100%;">
                                <span class="glyphicon glyphicon-remove"></span> Deauthorize
                            </button>
                        </form>
                    {% else %}
                        <form action="/authorize">
                            <button type="submit" class="btn btn-default btn-lg" style="width: 100%;">
                                <span class="glyphicon glyphicon-plus"></span> Authorize with Google
                            </button>
                        </form>
                    {% endif %}
                </div>
            </div>
        <!-- /.modal-content --> 
        </div>
    <!-- /.modal-dialog --> 
    </div>
    <!-- End Settings Dialog -->
   
    <!-- TEST -->
    {% for event in events %}
        <p>{{ event }} - {{ event.id }} - {{ event.startDate }}</p>
    {% endfor %}
    <!-- END TEST --> 
    
{% endblock %}

{% block scripts %}
    <!-- http://w3widgets.com/responsive-calendar/ -->
    <script src="/static/js/responsive-calendar.js"></script>
    
    <script>
        // Initialize and populate the calendar.
        $( document ).ready( function() {
            $(".responsive-calendar").responsiveCalendar({
                time: '2014-10'{% if auth %},{% endif %}
                {% if auth %}
                    events: {
                        "2014-10-30": {"number": 5, "url": "http://w3widgets.com/responsive-calendar"},
                        "2014-10-26": {"number": 1, "url": "http://w3widgets.com"}, 
                        "2014-10-03": {"number": 1}, 
                        "2014-10-12": {}
                    }
                {% endif %}
            });
        });
        
        
    </script>

{% endblock %}
