{% extends "dash_base.html" %}

{% block title %}Dashboard{% endblock %}

{% block header %}Dashboard{% endblock %}

{% block body %}

    <!-- Shortcuts -->
    <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="/email">
                <span class="glyphicon glyphicon-envelope"></span>
                <h4 id="stats_email"> Emails</h4>
            </a>
            <span class="text-muted">New Emails</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="/calendar">
                <span class="glyphicon glyphicon-calendar"></span>
                <h4>0 Events</h4>
            </a>
            <span class="text-muted">Upcoming Events</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="/stats#uptime">
                <span class="glyphicon glyphicon-off"></span>
                <h4 id="stats_uptime"> Hours</h4>
            </a>
            <span class="text-muted">Skybird Uptime</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="/stats#disk">
                <span class="glyphicon glyphicon-transfer"></span>
                <h4 id="stats_usage"> %</h4>
            </a>
            <span class="text-muted">Skybird Disk Usage</span>
        </div>
    </div>

    <!-- Open connections -->
    <h2 class="sub-header">Open Connections</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Address</th>
                    <th>Port</th>
                    <th class="hidden-xs">Status</th>
                </tr>
            </thead>
            <tbody id="cons"></tbody>
        </table>
    </div>

{% endblock %}

{% block scripts %}

    <script>
        // Load the stats with an ajax request.
        function stats_fetch() {
            // $(loadingId).show();  // Add loading ani here.
            $.post('/dash/fetch')
            .done(function(stats) {
                $( '#stats_email' ).prepend( stats[ 'mail_count'] );
                $( '#stats_uptime' ).prepend( stats[ 'uptime' ] );
                $( '#stats_usage' ).prepend( stats[ 'usage' ] );
                
                var conTable = []
                for (var i=0; i<stats[ 'cons' ].length; i++) {
                    conTable.push(
                        "<tr>" +
                            "<td>" + stats[ 'cons' ][i][0] + "</td>" +
                            "<td>" + stats[ 'cons' ][i][1] + "</td>" +
                            "<td class='hidden-xs'>" + stats[ 'cons' ][i][2] + "</td>" +
                        "</tr>"
                    );
                }
                $( '#cons' ).html(conTable);
            });
        }
        
        $(function () {
            stats_fetch()
        });
    </script>
        
{% endblock %}
