{% extends "dash_base.html" %}

{% block title %}Document Manager{% if location %} - files://{{ location }}{% endif %}{%endblock%}
   
{% block sidebar %}

    <ul class="nav nav-sidebar">
        <li><a href="/dash">Overview</a></li>
        <li><a href="#">Live Status</a></li>
    </ul>
    
    <ul class="nav nav-sidebar">
        <li><a href="">WWW Config</a></li>
        <li><a href="">Skybird Config</a></li>
    </ul>
    
    <ul class="nav nav-sidebar">
        <li><a href="/docs">Calendar</a></li>
        <li class="active"><a href="/docs">Document Manager</a></li>
    </ul>
    
{% endblock %}

{% block header %}Document Manager{% endblock %}

{% block body %}

    <!-- Shortcuts -->
    <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="/docs/upload{{ location }}">
                <span class="glyphicon glyphicon-cloud-upload"></span>
                <h4>Upload File</h4>
            </a>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="" data-title="Edit" data-toggle="modal" data-target="#new" data-placement="top" rel="tooltip">
                <span class="glyphicon glyphicon-folder-open"></span>
                <h4>New Directory</h4>
            </a>
        </div>
    </div>
    
    <!-- Datatable snippet by mohsinirshad -->
    <script src="http://templateplanet.info/tooltip.js"></script>
    <script src="http://templateplanet.info/modal.js"></script>
    
    <div class="row">
        <div class="col-md-12">
            <h4>files://{{ location }}/</h4>
            
                <div class="table-responsive">
                    <table id="mytable" class="table table-bordred table-striped">
                        <thead>
                            <th><input type="checkbox" id="checkall" /></th>
                            <th width="60%">Name</th>
                            <th>Type</th>
                            <th>Size</th>
                            <th>Get </th>
                            <th>Edit</th>
                        </thead>
                        
                        <tbody>
                            {% for file in files %}
                            <tr>
                                <td><input type="checkbox" class="checkthis" /></td>
                                <td>
                                    {% if file['type'] %}<a href="/docs/view/{{ file['name'] }}.{{ file['type'] }}">{{ file['name'] }}</a>{% endif %}
                                    {% if not file['type'] %}<a href="/docs/dir/{{ file['name'] }}"><b>{{ file['name'] }}</b></a>{% endif %}
                                </td>
                                <td>{{ file['type'] }}</td>
                                <td>{% if file['type'] %}{{ file['size'] }} kB{% endif %}</td>
                                <td>
                                    <p> 
                                        {% if not file['type'] %}
                                                <button class="btn btn-primary btn-xs disabled">
                                                    <span class="glyphicon glyphicon-cloud-download"></span>
                                                </button>
                                        {% endif %}
                                        {% if file['type'] %}
                                            <a href="/docs/get/{{ file['name'] }}.{{ file['type'] }}" download="{{ file['name'] }}.{{ file['type'] }}">
                                                <button class="btn btn-primary btn-xs">
                                                    <span class="glyphicon glyphicon-cloud-download"></span>
                                                </button>
                                            </a>
                                        {% endif %}
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        <button class="btn btn-danger btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" data-placement="top" rel="tooltip">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                    </p>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    
                    <br />
                
                    <div class="clearfix"></div>
                    <ul class="pagination pull-right">
                        <li class="disabled">
                            <a href="#">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="new" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title custom_align" id="Heading">New Directory</h4>
                </div>
                <form method=POST enctype=multipart/form-data action="{{ url_for('new') }}{{ location }}">
                    <div class="modal-body">
                        <div class="form-group">
                            <input class="form-control" name="name" type="text" placeholder="Directory Name">
                        </div>
                    </div>
                    <div class="modal-footer">
                    
                        <button type="submit" class="btn btn-warning btn-lg" style="width: 100%;">
                            <span class="glyphicon glyphicon-ok-sign"></span> Create
                        </button>
                    </div>
                </form>
            </div>
        <!-- /.modal-content --> 
        </div>
    <!-- /.modal-dialog --> 
    </div>

    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title custom_align" id="Heading">Edit File Details</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input class="form-control " type="text" placeholder="File name">
                    </div>
                    <div class="form-group">
                        <textarea rows="2" class="form-control" placeholder="File Notes"></textarea>
                    </div>
                    <button type="button" class="btn btn-warning btn-lg" style="width: 100%;">
                        <span class="glyphicon glyphicon-ok-sign"></span> Update
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning btn-lg" style="width: 100%;" data-title="Delete" data-toggle="modal" data-target="#delete" data-placement="top" rel="tooltip">
                        <span class="glyphicon glyphicon-trash"></span> Delete
                    </button>
                </div>
            </div>
        <!-- /.modal-content --> 
        </div>
    <!-- /.modal-dialog --> 
    </div>
    
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title custom_align" id="Heading">Delete this file</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-warning"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this file?</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" >
                        <span class="glyphicon glyphicon-ok-sign"></span> Yes
                    </button>
                    <button type="button" class="btn btn-warning" >
                        <span class="glyphicon glyphicon-remove"></span> No
                    </button>
                </div>
            </div>
        <!-- /.modal-content --> 
        </div>
    <!-- /.modal-dialog --> 
    </div>
    
    <!-- End datatable snippet -->
{% endblock %}
