<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Skybird - Welcome</title>
    <link rel="shortcut icon" 
          href="http://skybird.taybird.com/static/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/cover.css" rel="stylesheet">
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Skybird</h3>
              <ul class="nav masthead-nav">
                <li class="active"><a href=""></a></li>
              </ul>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Soaring in the cloud.</h1>
            <p class="lead">Skybird is a personal server project. It provides VPS and web traffic monitoring, document management, and more!</p>
          <p class="lead">
	    <a href="/dash" class="btn btn-lg btn-default">Access</a>
	  </p>
	  </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover template by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="static/js/bootstrap.js"></script>
  </body>
</html>
