{% extends "dash_base.html" %}

{% block title %}Document Manager - Upload{% if location %} - files://{{ location }}{% endif %}{%endblock%}
   
{% block sidebar %}

    <ul class="nav nav-sidebar">
        <li><a href="/dash">Overview</a></li>
    </ul>
    
    <ul class="nav nav-sidebar">
        <li><a href="">WWW Config</a></li>
        <li><a href="">Skybird Config</a></li>
    </ul>
    
    <ul class="nav nav-sidebar">
        <li><a href="/docs">Calendar</a></li>
        <li class="active"><a href="/docs">Document Manager</a></li>
    </ul>
    
{% endblock %}

{% block header %}Document Manager{% endblock %}

{% block html_head %}
    {{ super() }}
    <style type="text/css">
        .container{ margin-top:20px; }
        .image-preview-input {
            position: relative;
            overflow: hidden;
            margin: 0px;    
            color: #333;
            background-color: #fff;
            border-color: #ccc; }
        .image-preview-input input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0); }
        .image-preview-input-title { margin-left:2px; }
    </style>
{% endblock %}

{% block body %}

    <!-- Shortcuts -->
    <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="/docs">
                <span class="glyphicon glyphicon-list"></span>
                <h4>Return to List</h4>
            </a>
        </div>
    </div>
    
    <!-- Uploader by iosdsv -->    
    <div class="container">
        <div class="row">
            <h4>files://{{ location }}/</h4>  
            <div class="col-xs-12 col-md-6 col-md-offset-1 col-sm-8 col-sm-offset-2">  
                <!-- image-preview-filename input [CUT FROM HERE]-->
                <div class="input-group image-preview">
                    
                    <form method=POST enctype=multipart/form-data action="{{ url_for('upload') }}{{ location }}">
                        <input type="text" class="form-control image-preview-filename" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
                        <span class="input-group-btn">
                            <!-- image-preview-clear button -->
                            <button type="submit" name="submit" value="submit" class="btn btn-default image-preview-clear" style="display:none;">
                                <span class="glyphicon glyphicon-cloud-upload"></span> Upload
                            </button>
                            <!-- image-preview-input -->
                            <div class="btn btn-default image-preview-input">
                                <span class="glyphicon glyphicon-folder-open"></span>
                                <span class="image-preview-input-title">Browse</span>
                                <input type="file" name="file" size="chars" /> <!-- rename it -->
                            </div>
                        </span>
                    </form>
                    
                </div><!-- /input-group image-preview [TO HERE]--> 
            </div>
        </div>
    </div>
    <!-- End uploader -->
    
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/static/js/upload.js"></script>

{% endblock %}
